@import '~bootstrap/scss/bootstrap';

.card{
    height: 380px;

    .card-title{
        height: 50px;
    }

    .btn{
        font-size: 12px;
    }
}

li{
    list-style-type: none;
}

.btn{
    background-color: #ef3b2d;
    border-color: #ef3b2d;
}